# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Poetry
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

